@model Internals.ViewModels.DetailPage
@{
    ViewData["Title"] = "Details Page";
}

@section _Header
{
    <link rel="stylesheet" href="~/css/lightslider.min.css">
}

@{
    string Format(string name, string s)
    {
        return name + s.Replace("_", " ").Trim();
        ;
    }
}
<!-- breadcrumb start-->
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Shop Single</h2>
                        <p>Home <span>-</span> Shop Single</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================End Home Banner Area =================-->

<!--================Single Product Area =================-->
<div class="product_image_area section_padding">
    <div class="container">
        <div class="row s_product_inner justify-content-between">
            <div class="col-lg-7 col-xl-7">
                <div class="product_slider_img">
                    <div id="vertical">
                        <div data-thumb="@Model.PhoneDetails.Image">
                            <img src="@Model.PhoneDetails.Image" alt=""/>
                        </div>
                        <div data-thumb="@Model.PhoneDetails.Image">
                            <img src="@Model.PhoneDetails.Image" alt=""/>
                        </div>
                        <div data-thumb="@Model.PhoneDetails.Image">
                            <img src="@Model.PhoneDetails.Image" alt=""/>
                        </div>
                        <div data-thumb="@Model.PhoneDetails.Image">
                            <img src="@Model.PhoneDetails.Image" alt=""/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="s_product_text">
                    <h5>previous <span>|</span> next</h5>
                    <h3>@Model.PhoneDetails.Phone.Name</h3>
                    <h2>@Model.PhoneDetails.Price vnd</h2>
                    <ul class="list">
                        <li>
                            @if (Model.PhoneDetails.OutOfStock())
                            {
                                <a > <span>Availability</span> : Out Stock</a>
                            }
                            @if (!Model.PhoneDetails.OutOfStock())
                            {
                                <a > <span>Availability</span> : @Model.PhoneDetails.Quantity</a>
                            }
                        </li>
                    </ul>
                    <p>
                        @Model.PhoneDetails.Phone.Description
                    </p>
                    <form action="/CartPage/AddToCart" method="post">
                        <input name="PhoneDetailId" value="@Model.PhoneDetails.Id" hidden="hidden"/>
                        <div class="card_area d-flex justify-content-between align-items-center">
                            <div class="product_count">
                                <span class="inumber-decrement">
                                    <i class="ti-minus"></i>
                                </span>
                                <input class="input-number" name="Quantity" type="text" value="1" min="0" max="10">
                                <span class="number-increment">
                                    <i class="ti-plus"></i>
                                </span>
                            </div>
                            <button type="submit" class="btn btn_3">Add to cart</button>
                            <a href="#" class="like_us"> <i class="ti-heart"></i> </a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Single Product Area =================-->

<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">
                    Description
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">
                    Specification
                </a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                    @Model.PhoneDetails.Phone.Description
                </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>
                                <h5>Name</h5>
                            </td>
                            <td>
                                <h5>@Model.PhoneDetails.Phone.Name</h5>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <h5>Size</h5>
                            </td>
                            <td>
                                <h5>@Format("", Model.PhoneDetails.Size.ToString())</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>RAM</h5>
                            </td>
                            <td>
                                <h5>@Format("", Model.PhoneDetails.RAM.ToString())</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Storage</h5>
                            </td>
                            <td>
                                <h5>@Format("", Model.PhoneDetails.Storage.ToString())</h5>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h5>Color</h5>
                            </td>
                            <td>
                                <h5>@Format("", Model.PhoneDetails.Color.ToString())</h5>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->

<!-- product_list part start-->
<section class="product_list best_seller">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    <h2>Best Sellers <span>shop</span></h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-12">
                <div class="best_product_slider owl-carousel">
                    @foreach (var phoneDetail in Model.BestSellers)
                    {
                        <div class="single_product_item">
                            <img src="@phoneDetail.Image" alt="">
                            <div class="single_product_text">
                                <h4>
                                    Name: @phoneDetail.Phone.Name,
                                    @Format("RAM: ", phoneDetail.RAM.ToString()),
                                    @Format("Storage: ", phoneDetail.Storage.ToString())
                                </h4>
                                <h3>Price: @phoneDetail.Price vnd</h3>
                                <h3>Color: @Format("", phoneDetail.Color.ToString())</h3>
                                <form action="/CartPage/AddToCart" method="post">
                                    <input name="Quantity" value="1" hidden="hidden"/>
                                    <input name="PhoneDetailId" value="@phoneDetail.Id" hidden="hidden"/>
                                    <button type="submit" class="btn btn_3">Add to cart</button>
                                    <a asp-action="Index" asp-controller="DetailsPage" asp-route-id="@phoneDetail.Id" class="genric-btn info circle">See details</a>
                                </form>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product_list part end-->

@section _Footer
{
    <script src="~/js/lightslider.min.js"></script>
    <script src="~/js/stellar.js"></script>
    <script src="~/js/theme.js"></script>
}