@using Internals.Models.Enum
@model IEnumerable<Role>
@{
    ViewData["Title"] = "Management role";
}

@section _Header {
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
}

<h1>Management role</h1>
<div class="alert alert-info"> @Html.ValidationSummary()</div>
<div id="mainTable" class="table-responsive">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="row d-flex justify-content-lg-between">
                <h6 class="m-0 col-6 font-weight-bold text-primary">Table Role</h6>
                <a class="btn btn-primary col-2 text-white p-2" id="create">Create new role</a>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable">
                    <thead>
                    <tr>
                        <th>
                            STT
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Permission
                        </th>
                        <th></th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>
                            STT
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Permission
                        </th>

                        <th></th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @{
                        var count = 1;
                    }
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @count
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.Name)
                            </td>
                            <td>
                                <ul>
                                    @foreach (var claim in item.RoleClaims)
                                    {
                                        <li>@claim.ManageModel.ToString().Replace("_", " ")</li>
                                    }
                                </ul>
                            </td>

                            <td class="d-flex justify-content-center">
                                <a class="m-1 delete btn btn-dark text-white" data-item="@item.Id">Delete</a>
                                <a class="m-1 delete btn btn-danger text-white" data-item="@item.Id">Edit</a>
                            </td>
                        </tr>
                        count++;
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <form method="post" asp-action="Create">
        <div class="modal fade" id="createRole" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createTitle">Create new Role</h5>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="createName">Name:</label>
                        <input type="text" class="form-control" name="Name" id="createName" required="required" placeholder="Name">
                        <label>Permission:</label> <br/>
                        @foreach (var per in Enum.GetValues(typeof(Manage_Model)))
                            {
                                <li>
                                    <input type="checkbox" Name="Permissions" value="@per" />
                                    @per
                                </li>
                            }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary save">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    @* <form method="post" asp-action="Delete"> *@
    @*     <div class="modal fade" id="deleteRole" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true"> *@
    @*         <div class="modal-dialog"> *@
    @*             <div class="modal-content"> *@
    @*                 <div class="modal-header"> *@
    @*                     <h5 class="modal-title" id="delTitle">Are you sure delete this role ?</h5> *@
    @*                     <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button> *@
    @*                 </div> *@
    @*                 <div class="modal-body"> *@
    @*                     <input type="text" hidden="hidden" class="form-control" name="id" id="deleteId" placeholder="Id"> *@
    @*                 </div> *@
    @*                 <div class="modal-footer"> *@
    @*                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> *@
    @*                     <button type="submit" class="btn btn-primary save">Delete</button> *@
    @*                 </div> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </form> *@
</div>

@section _Footer {
    <script src="~/js/jquery_role.js"></script>
    <!-- Page level plugins -->
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="~/js/demo/datatables-demo.js"></script>
}