@using NuGet.Protocol
@model IEnumerable<PhoneDetails>
<div class="table-responsive">
    <table class="table table-bordered" id="dataTable">
        <thead>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>

            <th></th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>
                STT
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RAM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Storage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedBy)
            </th>

            <th></th>
        </tr>
        </tfoot>
        <tbody>
        @{
            var count = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @count
                </td>
                <td>
                    <img src="@item.Image" alt="image smartphone" height="100px"/>
                </td>
                
                <td>
                    @{
                        var size = item.Size.ToString().Replace("_", " ").Replace("p", ".").Trim();
                    }
                    @size
                </td>
                <td>
                    @{
                        var ram = item.RAM.ToString().Replace("_", " ").Trim();
                    }
                    @ram
                </td>
                <td>
                    @{
                        var storage = item.Storage.ToString().Replace("_", " ").Trim();
                    }
                    @storage
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>

                <td>
                    @{
                        var color = item.Color.ToString().Replace("_", " ");
                    }
                    @color
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.CreatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedBy)
                </td>

                <td class="d-flex justify-content-center">
                    <a class="m-1 edit btn btn-danger text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="m-1 delete btn btn-dark text-white" data-item="@item.Id">Delete</a>
                    <a class="m-1 detail btn btn-success text-white" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
            count++;
        }
        </tbody>
    </table>
</div>
<div class="modal fade" id="deletePhone" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delTitle">Are you sure delete this phone details ?</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <input type="text" hidden="hidden" class="form-control" name="id" id="deleteId" placeholder="Id">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="btnDelete" class="btn btn-primary save" data-dismiss="modal">Delete</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery_phone.js"></script>
<script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/js/demo/datatables-demo.js"></script>